header{
   display:flex;
   justify-content: space-between;
   background-color: rgb(201, 47, 47);
}
.logo{
   font-size: 60px;
}
.logo img{
   height:60px;
   width:150px;
   margin-top: 20px;
   margin-left: 50px;
}
nav{
    margin:20px;
    padding: 10px;
}
nav a{
    margin-right: 20px;
    font-size: 25px;
}
.img img{
    width: 10%;
    height:10px;
}
.container{
    display: flex;
    background-color: rgb(14, 158, 158);
}
.img_container{
   display:grid;
   grid-template-columns: repeat(2,50%);
}
.cc{
    margin: 10px;
}
.row1{
   display: flex;
   margin: 1%;
}
.product{
    text-align: center;
    border:1px solid yellow;
    margin:5px;
    padding: 5px;
    border: radius 8px;
}
product button{
    background-color: aqua;
    padding: 15px;
    border-radius: 15px;
}